<mat-toolbar color="primary"> Card view demo </mat-toolbar>
<div class="content">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Himalayan Peaks</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://www.eguardtech.com/wp-content/uploads/2018/08/Network-Profile.png" />
    <mat-card-content>
      <p>The Himalayas is a mountain range in Asia.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button> <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>